html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    background: #f9faff !important;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.cstm_cntnr {
  margin: 0 auto;
  max-width: 1400px;
}

.header {
  background: #fff;
  padding: 16px 22px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.had_link a{
  background:#e84d3d;
  padding: 6px 14px;
  border-radius: 12px;
  margin-right: 14px;
  color: #fff;
  border: 1px solid#e84d3d;
  font-size: 16px;
  font-weight: 500;
}
.had_link a:hover {
  color: #000;
  background: #f9faff;
}
.inpt_form {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding-top: 50px;
  justify-content: center;

}
.form_inpt {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
}
.form_inpt .inpt_in {
  padding: 10px 16px;
  width: 100%;
  max-width: 300px;
  background: #c5c5c5;
  border: none;
  outline: none;
  border-radius: 16px;
  display: flex;
  /* align-items: center; */
  justify-content: space-between;
}
.form_inpt .inpt_in input{
  background: transparent;
  border: none;
  outline: none;
  font-size: 16px;
  font-weight: 500;
  color: #525f83;
}
.form_inpt input::placeholder {
  color: #525f83;

}
.form_inpt .inpt_in img {
  width: 20px;
  height: 20px;
}
.form_inpt button{
  padding: 12px 20px;
  border-radius: 16px;
  background: #e84d3d;
  border: none;
  margin-left: 4px;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
}

.grid_main {
  display: grid;
  grid-row-gap: 0;
  grid-template-columns: repeat(12, minmax(0, 1fr));
}
.img_bxx {
  grid-column: span 3/span 6;
  text-align: center;
}

.img_bxx img{
  max-width: 300px ;
  height: 300px;
  border-radius: 50%;
}
.img_bxx h3 {
  color: #000;
  font-size: 16px;
  margin-top: 15px;
  font-weight: 600;
}
.img_bxx p {
  color: #000;
  font-size: 14px;
  margin-top: 0;
  font-weight: 500;
}
.right_bxx {
  grid-column: span 9/span 9;
}
.right_bxx {
  display: grid;
  grid-gap: 15px;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  
}

.right_main {
  grid-column: span 6/span 6;
  padding: 16px !important;
  border: 1px solid #d4d4d4;
  border-radius: 12px;
}

.right_main h2{
  margin: 0;
  color: #000;
  font-size: 18px;
  font-weight: 700;
}
.right_main label {
  display: block;
  color: #929292;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 5px;
}
.right_main h4 {
  color: #000;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 15px;
  margin-top: 0;
}

.inr_txt {
  display: flex;
  justify-content: space-between;
  margin-bottom: 22px;
}
.inr_txt span {
  border: 1px solid #e84d3d;
  color: #e84d3d;
  padding: 2px 10px;
  border-radius: 16px;
  font-size: 14px;
}

@media screen and (max-width: 1440px) {
  .img_bxx {
    padding-left: 16px;
  }
}
@media screen and (max-width: 1299px) {
  .img_bxx {
    text-align: center;
    margin-bottom: 20px;
  }
  .grid_main {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
  .right_bxx {
    padding: 0 10px;
  }
}
@media screen and (max-width: 767px) {
  .right_main{
    grid-column: span 12/span 6;
    margin-right: 0;
  }
}
@media screen and (max-width: 575px) {
  .header {
    padding: 14px 10px;
  }
  .had_link a {
    padding: 6px 8px;
    margin-right: 12px;
    font-size: 14px;
  }
  .form_inpt .inpt_in {
    max-width: 224px;
  }
  .form_inpt button {
    padding: 10px 16px;
    font-size: 14px;
  }
  .img_bxx img {
    max-width: 200px;
    height: 200px;
  }
}



// table 

.History_Container__RYN53 {
  display: inherit !important;
}
.table_main {
  margin-top: 40px;
}
.table_main .table {
  color: #000;
  background: transparent;
  width: 100%;
  border-collapse: collapse;
}
.table_main .table>thead {
  vertical-align: bottom;
  text-align: left;
}
.table_main thead tr th {
  padding: 12px;
  font-size: 16px;
  font-weight: 500;
}
.table_main tbody tr td {
  padding: 12px;
}
.table_main thead tr th:last-child{
  text-align: right;
}
.table_main thead tr {
  border-bottom: 2px solid #808080
}
.table_main tbody tr {
  border-radius: 12px;
  background: #fff;
  height: 90px;
  vertical-align: middle;
  border-bottom: 1px solid #e5e5e5;
}
.table_main tbody tr td:first-child {
  border-radius: 12px 0 0 12px;
}
.table_main tbody tr td:last-child {
  border-radius: 0 12px 12px 0;
}
.table_main tbody tr td button {
  background: #e84d3d;
  padding: 6px 14px;
  border-radius: 12px;
  color: #fff;
  border: 1px solid #e84d3d;
  font-size: 16px;
  font-weight: 500;
}
.table_main tbody tr td:last-child {
  text-align: right;
}
.table_main tbody tr:hover {
  background-color: rgb(229, 229, 229);
}
.table_main tbody tr:hover td button{
  background: transparent;
  color: #000;
}
@media screen and (max-width: 1399px) {
  .table_main {
    margin: 0 20px;
  }
}
@media screen and (max-width: 767px) {
  .forscroll {
    overflow-y: auto;
  }
  .table_main h1 {
    margin-left: 10px;
  }
  .table_main .table {
    margin: 0 10px;
    width: 700px;
 }
 .table_main {
  margin: 0;
 }
}